body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 100px 0;
}

header {
  padding: 24px 0;
  background-color: #212328;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}
header .imgbox {
  width: 140px;
}
header .imgbox img {
  cursor: pointer;
}
header .btn {
  color: white;
  display: flex;
  display: none;
  border: 1px solid #2e3236;
  opacity: 0.6;
  font-weight: 700;
  font-size: 15px;
}
header .btn h5 {
  cursor: pointer;
}
header .btn .icon {
  cursor: pointer;
  margin-left: 8px;
}
header nav a {
  font-size: 18px;
  margin-right: 30px;
  color: white;
}
header nav a:hover {
  cursor: pointer;
  color: #eab114;
}
@media screen and (max-width: 992px) {
  header .menu .btn {
    display: flex;
  }
  header .menu nav {
    display: none;
  }
}

#welcome {
  background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg");
  background-position: center center;
  background-size: cover;
}
#welcome .box {
  height: 600px;
}
#welcome .box .textbox h1 {
  font-size: 40px;
  color: white;
}
#welcome .box .textbox h3 {
  font-size: 80px;
  font-weight: 700;
  color: white;
  margin: 30px 0 60px;
}
#welcome .box .textbox .btn {
  padding: 18px 50px;
  background-color: #ffc800;
}
#welcome .box .textbox .btn a {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
#welcome .box .textbox .btn:hover {
  cursor: pointer;
  background-color: #d9aa00;
}
@media screen and (max-width: 768px) {
  #welcome .box .textbox h1 {
    font-size: 30px;
  }
  #welcome .box .textbox h3 {
    font-size: 65px;
  }
}

#services .textbox h1 {
  font-size: 50px;
  font-weight: 700;
}
#services .textbox h3 {
  font-size: 20px;
  color: #6c757d;
  margin: 20px 0 50px;
}
#services .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
}
#services .textbox p {
  font-size: 20px;
  color: #798796;
  line-height: 1.4;
}
#services .box {
  display: flex;
  justify-content: center;
}
#services .box .icon {
  width: 130px;
  height: 130px;
  font-size: 65px;
  background-color: #ffc800;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #services .textbox p {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  #services .textbox {
    padding: 0 30px;
  }
  #services .textbox h1 {
    font-size: 40px;
  }
}

#portfolio {
  background-color: #f8f9fa;
}
#portfolio h1 {
  font-size: 50px;
  font-weight: 700;
}
#portfolio h3 {
  font-size: 20px;
  color: #6d7d8b;
  margin: 20px 0 60px;
}
#portfolio .box {
  margin-bottom: 25px;
  padding-bottom: 25px;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .imgbox .icon {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s;
}
#portfolio .box .imgbox .icon:hover {
  background-color: #e6b400;
  cursor: pointer;
  opacity: 0.9;
}
#portfolio .box .textbox {
  text-align: center;
}
#portfolio .box .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 25px 0 10px;
}
#portfolio .box .textbox h4 {
  font-size: 18px;
  color: #7a7d9d;
}
@media screen and (max-width: 576px) {
  #portfolio .box .imgbox {
    margin: 0 50px;
  }
}

#about h1 {
  font-size: 50px;
  font-weight: 700;
}
#about h3 {
  font-size: 20px;
  color: #6d7d8b;
  margin: 20px 0 60px;
}
#about .box {
  display: flex;
  margin: 0 0 150px 100px;
}
#about .box .textbox {
  width: 400px;
  margin: 0 20px;
  text-align: end;
}
#about .box .textbox h2, #about .box .textbox h4 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
#about .box .textbox p {
  font-size: 19px;
  color: #80888f;
  line-height: 1.4;
}
#about .box .imgbox {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 0 30px;
  border: 7px solid #e9ecef;
}
#about .right {
  margin: 0 90px 150px 0;
}
#about .add {
  display: flex;
  justify-content: center;
}
#about .add .minibox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}
#about .add .minibox h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}
#about .story {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 0 30px;
  border: 7px solid #e9ecef;
  background-color: #ffc800;
  color: white;
}
@media screen and (max-width: 1400px) {
  #about .box {
    margin: 0 10px 150px 0;
  }
}
@media screen and (max-width: 1200px) {
  #about .box {
    margin: 0 40px 100px 0px;
  }
  #about .box .textbox {
    width: 300px;
  }
  #about .box .imgbox {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 992px) {
  #about .box {
    margin: 0 15px 100px;
  }
  #about .box .textbox {
    width: 215px;
  }
  #about .box .imgbox {
    width: 100px;
    height: 100px;
  }
  #about .minibox {
    padding: 0 20px;
  }
  #about .minibox h5 {
    font-size: 15px;
  }
  #about .story {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 768px) {
  #about .box {
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-bottom: 70px;
  }
  #about .box .textbox {
    width: 400px;
    text-align: start;
  }
  #about .box .imgbox {
    width: 140px;
    height: auto;
    margin: 0;
  }
  #about .right {
    flex-direction: row;
  }
  #about .right .textbox {
    text-align: start;
  }
  #about .add {
    justify-content: flex-start;
  }
  #about .add .story {
    width: 130px;
    height: 130px;
    padding: 0 30px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 576px) {
  #about .text-center h1 {
    font-size: 40px;
  }
  #about .box .imgbox {
    width: 100px;
    height: auto;
  }
  #about .add .story {
    width: 100px;
    height: 100px;
    padding: 0 15px;
  }
  #about .add .story h5 {
    font-size: 15px;
  }
}

#team {
  background-color: #f8f9fa;
}
#team h1 {
  font-size: 50px;
  font-weight: 700;
}
#team h3 {
  font-size: 20px;
  color: #788194;
  margin: 20px 0 60px;
}
#team .box {
  display: flex;
  justify-content: center;
}
#team .box .imgbox {
  border: 8px solid #dfe0e1;
  border-radius: 50%;
  width: 230px;
  height: 230px;
}
#team .textbox {
  text-align: center;
}
#team .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}
#team .textbox h4 {
  font-size: 18px;
  color: #767f91;
  margin: 10px 0;
}
#team ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#team ul li {
  background-color: #292d31;
  border-radius: 30px;
  color: white;
  width: 40px;
  height: 40px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#team ul li:hover {
  background-color: #424649;
  cursor: pointer;
}
#team .wid {
  width: 750px;
  line-height: 1.4;
  margin-top: 15px;
}
@media screen and (max-width: 992px) {
  #team .box .imgbox {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  #team ul {
    margin-bottom: 40px;
  }
  #team .wid {
    margin-top: 0;
  }
}

#logo {
  padding: 60px 0;
}
#logo .box .imgbox {
  width: 120px;
}
#logo .box .imgbox img {
  cursor: pointer;
}
#logo .box .mcr {
  width: 200px;
}
#logo .box .fb {
  width: 160px;
}
@media screen and (max-width: 768px) {
  #logo .box .imgbox {
    margin: 15px 0;
  }
}

#contact {
  background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png");
  background-color: #212529;
  background-position: center center;
}
#contact h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}
#contact h3 {
  font-size: 20px;
  color: #5f6e76;
}
#contact .add {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
#contact .add input {
  margin: 12px 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}
#contact .textbox {
  display: flex;
  margin-top: 60px;
}
#contact .textbox textarea {
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  padding: 14px;
}
#contact .btn {
  padding: 19px 50px;
  background-color: #b28f0e;
  color: white;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.7;
  margin-top: 35px;
}
@media screen and (max-width: 576px) {
  #contact .col-md-6 {
    padding: 40px;
  }
}

footer {
  padding: 20px 0;
}
footer h1 {
  font-size: 18px;
  color: #5a5c5e;
  margin: 15px 0;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer ul li .icon {
  font-size: 15px;
  width: 40px;
  height: 40px;
  background-color: #212529;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
footer ul li .icon:hover {
  background-color: #424649;
  cursor: pointer;
}
footer h2, footer h3 {
  color: #5a5c5e;
  font-size: 18px;
  margin: 15px 0;
}
footer h2:hover, footer h3:hover {
  cursor: pointer;
}
footer h2 {
  margin-right: 20px;
}/*# sourceMappingURL=style.css.map */